<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Application de démo gestion des stocks">
    <meta name="author" content="ThemePixels">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <title>Application de démo gestion des stocks</title>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"-->
    <link rel="stylesheet" href="css/mycustomstyle.css">
</head>
<body>
<div>
    <div class="sidebar">
        <div class="sidebar-header">
            <div>
                <a href="" class="sidebar-logo"><span>GestionStocks</span></a>
                <small class="sidebar-logo-headline">Application de gestion des stocks</small>
            </div>
        </div>
        <div id="dpSidebarBody" class="sidebar-body">
            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Menus principales</label></li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">
                        <i data-feather="box"></i> Liste des produits
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Bloc Menu principale -->

    <div class="content content-page">
        <!-- Start Header -->
        <div class="header">
            <div class="header-left">
                <a href="#" class="burger-menu"><i data-feather="menu"></i></a>
                <div class="header-search">
                    <i data-feather="search"></i>
                    <input type="search" class="form-control" placeholder="What are you looking for?">
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Start Content -->
        <div class="content-header justify-content-between">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                        <li class="breadcrumb-item">Liste des produits</li>
                        <li class="breadcrumb-item active" aria-current="page">Création de produit</li>
                    </ol>
                </nav>
                <h4 class="content-title">Formulaire de création de produits</h4>
            </div>
        </div>
        <div class="content-body">

            <div class="card card-body pd-lg-25">
                <form action="#" th:action="@{/add-product-handling}" th:object="${product}" method="post">
                    <div style="margin: auto">
                        <div class="d-md-flex mg-b-30">
                            <div class="form-group mg-b-0">
                                <label>Numéro du produit: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{numberProduct}" class="form-control" style="width: 320px" placeholder="Entrer le numéro du produit">
                            </div><!-- form-group -->
                            <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-0">
                                <label>Libellé du produit: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{name}" class="form-control" style="width: 320px" placeholder="Entrer le libellé du produit">
                            </div><!-- form-group -->
                            <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-0">
                                <label>Prix unitaire: <span class="tx-danger">*</span></label>
                                <input type="text" th:field="*{price}" class="form-control" style="width: 320px" placeholder="Entrer le prix unitaire du produit">
                            </div><!-- form-group -->
                        </div><!-- d-flex -->
                        <div class="d-md-flex mg-b-30">
                            <div class="form-group mg-b-0">
                                <label>Description du produit: <span class="tx-danger">*</span></label>
                                <textarea th:field="*{description}" class="form-control" placeholder="Entrer la description du produit" rows="6" style="width: 1000px"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success pd-x-20">Valider le formulaire</button>
                        <button type="reset" class="btn btn-dark pd-x-20">Réinitaliser le formulaire</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- End Content -->
    </div>
</div>
</body>
</html>